<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="localhost"/>
    <springProperty scope="context" name="path" source="spring.application.logging.path"
                    defaultValue="${user.home}/basic/service"/>

    <!-- 控制台日志输出设置 -->
    <appender name="CONSOLE-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d) [%green(%t)] %highlight(%-5p) [%cyan(%c:%L)] - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="io.github.loncra.basic.service.commons" level="DEBUG"/>
    <logger name="io.github.loncra.basic.service.resource.server" level="DEBUG"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE-APPENDER"/>
        </root>
    </springProfile>

    <springProfile name="production,test">
        <appender name="LOGSTASH-APPENDER" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>localhost:5044</destination>
            <encoder charset="UTF-8" class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <provider class="com.yomahub.tlog.logstash.logback.TLogLogstashLogbackProvider"/>
                    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
                    <pattern>
                        <pattern>
                            {
                            "service":"uni-portal-${applicationName}",
                            "version":"${version}",
                            "level": "%level",
                            "thread": "%thread",
                            "pid": "${PID:-}",
                            "class": "%logger",
                            "method": "%method",
                            "message": "%msg",
                            "stack_trace":"%xEx",
                            "timestamp": "%d{yyyy-MM-dd HH:mm:ss.SSS}"
                            }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="CONSOLE-APPENDER"/>
            <appender-ref ref="LOGSTASH-APPENDER"/>
        </root>
    </springProfile>

</configuration>
